

.channel-logo{

    border-radius: 50%;
}

.videos-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 40px;
    background-color: #181818;

}

.video-container{
    width:100%;
}

.video-title{
    /* display:inline-block; */
    color: rgb(255,255,255);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 14px;
}

.video-channel,
.video-stats{

    font-size: 10px;
    margin-bottom: 2px;
    color: #AAAAAA;
}

.video-stats{
    margin-bottom: 0;
}



img{
    max-width: 100%;
    pointer-events: none;
    user-select: none;

}



.channel-logo{

    width: 100%;
    vertical-align: top;
    margin: 0% 4%;
}

.video-container{

    vertical-align: top;
    margin:1% 1%;
}

.logo-and-details{
    /* margin: 1% 0%; */
    margin-top: 2%;
    display: grid;
    grid-template-columns: 14% 1fr;
}

.video-details{
    /* display: inline-block;
    width: 74%; */
    margin-left: 5%;
    
}

.video-thumbnail{

    /* box-sizing: content-box; */
}

/* Not aligned text
vertical-align property */